<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pangestu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_baru_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_baru"
        android:supportsRtl="true"
        android:theme="@style/Theme.TipTime">
        <activity android:name="com.example.pangestu.Fin195410015">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>